In [12]:
import pandas as pd

events = pd.read_csv('events.csv').astype(int)

In [6]:
event025 = pd.read_csv('EURGBP0.25.csv')
event050 = pd.read_csv('EURGBP0.5.csv')
event100 = pd.read_csv('EURGBP1.0.csv')
event150 = pd.read_csv('EURGBP1.5.csv')

In [36]:
_events = pd.read_csv("events.csv").astype(
    {"0.25": int, "0.5": int, "1.0": int, "1.5":int}
)
_events

        0.25   0.5     1  1.5  theta
0        370    86    30   10   0.25
1        372    86    30   10   0.25
2        374    86    30   10   0.25
3        376    86    30   10   0.25
4        378    86    30   10   0.25
...      ...   ...   ...  ...    ...
18664  27497  7276  2116  936   0.25
18665  27499  7276  2116  936   0.25
18666  27501  7276  2116  936   0.25
18667  27503  7276  2116  936   0.25
18668  27505  7276  2116  936   0.50

[18669 rows x 5 columns]